/*
Theme Name: WrenchOfTheMonkey
Theme URI: https://wrenchofthemonkey@bitbucket.org/wrenchofthemonkey/wotm.git
Description: Wrench of the Monkey
Version: 2.0
Author: Wrench of the Monkey
Author URI: http://www.wrenchofthemonkey.com
Tags: Wrench of the Monkey, fixed-width, one-column, valid HTML5, widgets
*/

/* Created by Wrench of the Monkey */

#wotm-main
{
   background: #4A4F54 url('images/page.jpeg') scroll;
   background: url('images/pageglare.png') no-repeat, url('images/page.jpeg'), #4A4F54;
   margin:0 auto;
   font-size: 13px;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   letter-spacing: 1px;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}
table, ul.wotm-hmenu
{
   font-size: 13px;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.wotm-button
{
   border-collapse: separate;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #1AB3FF;
   background: rgba(26, 179, 255, 0.8);
   -webkit-border-radius:7px;
   -moz-border-radius:7px;
   border-radius:7px;
   border:2px solid rgba(0, 0, 0, 0.8);
   padding:0 15px;
   margin:0 auto;
   height:24px;
}

.wotm-postcontent,
.wotm-postheadericons,
.wotm-postfootericons,
.wotm-blockcontent,
ul.wotm-vmenu a 
{
   text-align: left;
}

.wotm-postcontent,
.wotm-postcontent li,
.wotm-postcontent table,
.wotm-postcontent a,
.wotm-postcontent a:link,
.wotm-postcontent a:visited,
.wotm-postcontent a.visited,
.wotm-postcontent a:hover,
.wotm-postcontent a.hovered
{
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.wotm-postcontent p
{
   margin: 12px 0;
}

.wotm-postcontent h1, .wotm-postcontent h1 a, .wotm-postcontent h1 a:link, .wotm-postcontent h1 a:visited, .wotm-postcontent h1 a:hover,
.wotm-postcontent h2, .wotm-postcontent h2 a, .wotm-postcontent h2 a:link, .wotm-postcontent h2 a:visited, .wotm-postcontent h2 a:hover,
.wotm-postcontent h3, .wotm-postcontent h3 a, .wotm-postcontent h3 a:link, .wotm-postcontent h3 a:visited, .wotm-postcontent h3 a:hover,
.wotm-postcontent h4, .wotm-postcontent h4 a, .wotm-postcontent h4 a:link, .wotm-postcontent h4 a:visited, .wotm-postcontent h4 a:hover,
.wotm-postcontent h5, .wotm-postcontent h5 a, .wotm-postcontent h5 a:link, .wotm-postcontent h5 a:visited, .wotm-postcontent h5 a:hover,
.wotm-postcontent h6, .wotm-postcontent h6 a, .wotm-postcontent h6 a:link, .wotm-postcontent h6 a:visited, .wotm-postcontent h6 a:hover,
.wotm-blockheader .t, .wotm-blockheader .t a, .wotm-blockheader .t a:link, .wotm-blockheader .t a:visited, .wotm-blockheader .t a:hover,
.wotm-vmenublockheader .t, .wotm-vmenublockheader .t a, .wotm-vmenublockheader .t a:link, .wotm-vmenublockheader .t a:visited, .wotm-vmenublockheader .t a:hover,
.wotm-headline, .wotm-headline a, .wotm-headline a:link, .wotm-headline a:visited, .wotm-headline a:hover,
.wotm-slogan, .wotm-slogan a, .wotm-slogan a:link, .wotm-slogan a:visited, .wotm-slogan a:hover,
.wotm-postheader, .wotm-postheader a, .wotm-postheader a:link, .wotm-postheader a:visited, .wotm-postheader a:hover
{
   font-size: 24px;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   letter-spacing: 3px;
   text-align: left;
}

.wotm-postcontent a, .wotm-postcontent a:link
{
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
   letter-spacing: 1px;
   color: #A8E2FF;
}

.wotm-postcontent a:visited, .wotm-postcontent a.visited
{
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #E1E3E5;
}

.wotm-postcontent  a:hover, .wotm-postcontent a.hover
{
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #C7ECFF;
}

.wotm-postcontent h1
{
   color: #D1D4D6;
   margin-top: 15px;
   margin-bottom: 15px;
   font-size: 24px;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 3px;
   text-align: left;
}

.wotm-blockcontent h1
{
   margin-top: 15px;
   margin-bottom: 15px;
   font-size: 24px;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 3px;
   text-align: left;
}

.wotm-postcontent h1 a, .wotm-postcontent h1 a:link, .wotm-postcontent h1 a:hover, .wotm-postcontent h1 a:visited, .wotm-blockcontent h1 a, .wotm-blockcontent h1 a:link, .wotm-blockcontent h1 a:hover, .wotm-blockcontent h1 a:visited 
{
   font-size: 24px;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 3px;
   text-align: left;
}

.wotm-postcontent h2
{
   color: #E1E3E5;
   margin-top: 16px;
   margin-bottom: 16px;
   font-size: 22px;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
   text-align: left;
}

.wotm-blockcontent h2
{
   margin-top: 16px;
   margin-bottom: 16px;
   font-size: 22px;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
   text-align: left;
}

.wotm-postcontent h2 a, .wotm-postcontent h2 a:link, .wotm-postcontent h2 a:hover, .wotm-postcontent h2 a:visited, .wotm-blockcontent h2 a, .wotm-blockcontent h2 a:link, .wotm-blockcontent h2 a:hover, .wotm-blockcontent h2 a:visited 
{
   font-size: 22px;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
   text-align: left;
}

.wotm-postcontent h3
{
   color: #A8E2FF;
   margin: 18px 0;
   font-size: 18px;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
   text-align: left;
}

.wotm-blockcontent h3
{
   margin: 18px 0;
   font-size: 18px;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
   text-align: left;
}

.wotm-postcontent h3 a, .wotm-postcontent h3 a:link, .wotm-postcontent h3 a:hover, .wotm-postcontent h3 a:visited, .wotm-blockcontent h3 a, .wotm-blockcontent h3 a:link, .wotm-blockcontent h3 a:hover, .wotm-blockcontent h3 a:visited 
{
   font-size: 18px;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
   text-align: left;
}

.wotm-postcontent h4
{
   color: #24B6FF;
   margin: 0 0 10px;
   font-size: 18px;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
   text-align: left;
}

.wotm-blockcontent h4
{
   margin: 0 0 10px;
   font-size: 18px;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
   text-align: left;
}

.wotm-postcontent h4 a, .wotm-postcontent h4 a:link, .wotm-postcontent h4 a:hover, .wotm-postcontent h4 a:visited, .wotm-blockcontent h4 a, .wotm-blockcontent h4 a:link, .wotm-blockcontent h4 a:hover, .wotm-blockcontent h4 a:visited 
{
   font-size: 18px;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
   text-align: left;
}

.wotm-postcontent h5
{
   color: #F1F2F3;
   margin-top: 20px;
   margin-bottom: 20px;
   font-size: 13px;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
   text-align: left;
}

.wotm-blockcontent h5
{
   margin-top: 20px;
   margin-bottom: 20px;
   font-size: 13px;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
   text-align: left;
}

.wotm-postcontent h5 a, .wotm-postcontent h5 a:link, .wotm-postcontent h5 a:hover, .wotm-postcontent h5 a:visited, .wotm-blockcontent h5 a, .wotm-blockcontent h5 a:link, .wotm-blockcontent h5 a:hover, .wotm-blockcontent h5 a:visited 
{
   font-size: 13px;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
   text-align: left;
}

.wotm-postcontent h6
{
   color: #F4F5F5;
   margin-top: 28px;
   margin-bottom: 28px;
   font-size: 13px;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
   text-align: left;
}

.wotm-blockcontent h6
{
   margin-top: 28px;
   margin-bottom: 28px;
   font-size: 13px;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
   text-align: left;
}

.wotm-postcontent h6 a, .wotm-postcontent h6 a:link, .wotm-postcontent h6 a:hover, .wotm-postcontent h6 a:visited, .wotm-blockcontent h6 a, .wotm-blockcontent h6 a:link, .wotm-blockcontent h6 a:hover, .wotm-blockcontent h6 a:visited 
{
   font-size: 13px;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
   text-align: left;
}

header, footer, article, nav, #wotm-hmenu-bg, .wotm-sheet, .wotm-hmenu a, .wotm-vmenu a, .wotm-slidenavigator > a, .wotm-checkbox:before, .wotm-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, #wotm-hmenu-bg, .wotm-sheet, .wotm-slidenavigator > a, .wotm-checkbox:before, .wotm-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height: 100%;
}

/**
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * https://github.com/necolas/normalize.css
 */

html {
   -ms-text-size-adjust: 100%;
   /* 2 */
    -webkit-text-size-adjust: 100%;
/* 2 */}

body
{
   padding: 0;
   margin:0;
   min-width: 1000px;
   color: #DCDEE0;
}

.wotm-header:before, 
#wotm-header-bg:before, 
.wotm-layout-cell:before, 
.wotm-layout-wrapper:before, 
.wotm-footer:before, 
.wotm-nav:before, 
#wotm-hmenu-bg:before, 
.wotm-sheet:before 
{
   width: 100%;
   content: " ";
   display: table;
   border-collapse: collapse;
   border-spacing: 0;
}

.wotm-header:after, 
#wotm-header-bg:after, 
.wotm-layout-cell:after, 
.wotm-layout-wrapper:after, 
.wotm-footer:after, 
.wotm-nav:after, 
#wotm-hmenu-bg:after, 
.wotm-sheet:after,
.cleared, .clearfix:after 
{
   clear: both;
   font: 0/0 serif;
   display: block;
   content: " ";
}

form
{
   padding: 0;
   margin: 0;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .wotm-postcontent li h1, .wotm-blockcontent li h1 
{
   margin:1px;
} 
li h2, .wotm-postcontent li h2, .wotm-blockcontent li h2 
{
   margin:1px;
} 
li h3, .wotm-postcontent li h3, .wotm-blockcontent li h3 
{
   margin:1px;
} 
li h4, .wotm-postcontent li h4, .wotm-blockcontent li h4 
{
   margin:1px;
} 
li h5, .wotm-postcontent li h5, .wotm-blockcontent li h5 
{
   margin:1px;
} 
li h6, .wotm-postcontent li h6, .wotm-blockcontent li h6 
{
   margin:1px;
} 
li p, .wotm-postcontent li p, .wotm-blockcontent li p 
{
   margin:1px;
}


.wotm-shapes
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: 0;
}

.wotm-slider-inner {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.wotm-slidenavigator > a {
   display: inline-block;
   vertical-align: middle;
   outline-style: none;
   font-size: 1px;
}

.wotm-slidenavigator > a:last-child {
   margin-right: 0 !important;
}

.wotm-object0
{
    display: block;
    left: 50%;
    margin-left: -526px;
    position: absolute;
    top: 66px;
    width: 1053px;
    height: 419px;
    background-image: url('images/object0.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 0;
}

.default-responsive .wotm-object0
{
  display: none;
}.wotm-object7998138 h1, 
.wotm-object7998138 h2, 
.wotm-object7998138 h3, 
.wotm-object7998138 h4, 
.wotm-object7998138 h5, 
.wotm-object7998138 h6, 
.wotm-object7998138 p, 
.wotm-object7998138 a, 
.wotm-object7998138 ul, 
.wotm-object7998138 ol, 
.wotm-object7998138 li
{
  line-height: 100%;
}

.wotm-object7998138
{  
  position: absolute;
  top: 153px;
  left: 3.17%;
  margin-left: -12px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
    overflow: hidden;
      background-image: url('images/object7998138.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
    z-index: 2;
  width: 400px;
  height: 50px;
}

.default-responsive .wotm-object7998138
{
    background-image: none;
  }

.wotm-object7998138-text-container 
{
    display: table;
}

.wotm-object7998138-text
{
  display: table-cell;
  outline-style: none;
  padding: 0px 0px !important;
  height: 50px;
  width: 400px;  
word-wrap: break-word;
}

.default-responsive .wotm-object7998138-text 
{
    height: auto;
}

.wotm-object7998138-text,
.wotm-object7998138-text a.wotm-rss-tag-icon,
.wotm-object7998138-text a.wotm-facebook-tag-icon,
.wotm-object7998138-text a.wotm-twitter-tag-icon,
.wotm-object7998138-text a.wotm-tumblr-tag-icon,
.wotm-object7998138-text a.wotm-pinterest-tag-icon,
.wotm-object7998138-text a.wotm-vimeo-tag-icon,
.wotm-object7998138-text a.wotm-youtube-tag-icon,
.wotm-object7998138-text a.wotm-linkedin-tag-icon
{
font-size: 18px;
font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
font-weight: bold;
font-style: normal;
text-align: left;
  color: #00A3F5 !important;
}

.wotm-object7998138-text a.wotm-rss-tag-icon,
.wotm-object7998138-text a.wotm-facebook-tag-icon,
.wotm-object7998138-text a.wotm-twitter-tag-icon,
.wotm-object7998138-text a.wotm-tumblr-tag-icon,
.wotm-object7998138-text a.wotm-pinterest-tag-icon,
.wotm-object7998138-text a.wotm-vimeo-tag-icon,
.wotm-object7998138-text a.wotm-youtube-tag-icon,
.wotm-object7998138-text a.wotm-linkedin-tag-icon
{
    width: 100%;
}

.default-responsive .wotm-object7998138-text a.wotm-rss-tag-icon,
.default-responsive .wotm-object7998138-text a.wotm-facebook-tag-icon,
.default-responsive .wotm-object7998138-text a.wotm-twitter-tag-icon,
.default-responsive .wotm-object7998138-text a.wotm-tumblr-tag-icon,
.default-responsive .wotm-object7998138-text a.wotm-pinterest-tag-icon,
.default-responsive .wotm-object7998138-text a.wotm-vimeo-tag-icon,
.default-responsive .wotm-object7998138-text a.wotm-youtube-tag-icon,
.default-responsive .wotm-object7998138-text a.wotm-linkedin-tag-icon
{
    width: auto;
}

.wotm-textblock ul > li
{
    background-position-y: 2px !important;
}
.wotm-headline
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 21px;
  left: 20.43%;
  margin-left: -68px !important;
  line-height: 100%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 101;
}

.wotm-headline, 
.wotm-headline a, 
.wotm-headline a:link, 
.wotm-headline a:visited, 
.wotm-headline a:hover
{
font-size: 26px;
font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
font-weight: bold;
font-style: italic;
text-decoration: none;
letter-spacing: 2px;
text-transform: none;
text-shadow: 1px 0px 0px rgb(23, 23, 23), -1px 0px 0px rgb(23, 23, 23), 0px -1px 0px rgb(23, 23, 23), 0px 1px 0px rgb(23, 23, 23), 0px 0px 10px rgba(0, 0, 0, 0.99);
  padding: 0;
  margin: 0;
  color: #1AB3FF !important;
  white-space: nowrap;
}
.wotm-slogan
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 123px;
  left: 2.42%;
  line-height: 100%;
  margin-left: -4px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 102;
  white-space: nowrap;
}

.wotm-slogan, 
.wotm-slogan a, 
.wotm-slogan a:link, 
.wotm-slogan a:visited, 
.wotm-slogan a:hover
{
font-size: 22px;
font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
font-weight: bold;
font-style: normal;
text-decoration: none;
letter-spacing: 1px;
text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: #000000 !important;
}

.wotm-logo-302571251
{  
  position: absolute;
  top: 7px;
  left: 0.23%;
  margin-left: 0px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
      z-index: 103;
  width: 128px;
  height: 54px;
}.wotm-logo-1204478179
{  
  position: absolute;
  top: 23px;
  left: 100%;
  margin-left: -142px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
      z-index: 104;
  width: 142px;
  height: 36px;
}.wotm-logo-887308264
{  
  position: absolute;
  top: 23px;
  left: 84.52%;
  margin-left: -119px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
      z-index: 105;
  width: 141px;
  height: 36px;
}





.wotm-header
{
   margin:10px auto 0;
   background-repeat: no-repeat;
   height: 485px;
   position:relative;
   background-image: url('images/header.png');
   background-position: center top;
}

.custom-responsive .wotm-header
{
   background-image: url('images/header.png');
   background-position: center top;
}

.default-responsive .wotm-header,
.default-responsive #wotm-header-bg
{
   background-image: url('images/header.png');
   background-position: center center;
   background-size: cover;
}

.wotm-header-inner{
   position: relative;
   width: 1000px;
   z-index: auto !important;
   margin: 0 auto;
}

.wotm-header>.widget 
{
   position:absolute;
   z-index:101;
}

.wotm-nav
{
   background: #697077;
   background: -webkit-linear-gradient(top, rgba(131, 138, 145, 0.2) 0, rgba(120, 128, 135, 0.2) 20%, rgba(81, 87, 92, 0.2) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(131, 138, 145, 0.2) 0, rgba(120, 128, 135, 0.2) 20%, rgba(81, 87, 92, 0.2) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(131, 138, 145, 0.2) 0, rgba(120, 128, 135, 0.2) 20%, rgba(81, 87, 92, 0.2) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(131, 138, 145, 0.2) 0, rgba(120, 128, 135, 0.2) 20%, rgba(81, 87, 92, 0.2) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(131, 138, 145, 0.2) 0, rgba(120, 128, 135, 0.2) 20%, rgba(81, 87, 92, 0.2) 100%) no-repeat;
   background: linear-gradient(to bottom, rgba(131, 138, 145, 0.2) 0, rgba(120, 128, 135, 0.2) 20%, rgba(81, 87, 92, 0.2) 100%) no-repeat;
   border-top:2px solid #3DBEFF;
   position: absolute;
   margin: 0;
   top:     66px;
   width: 100%;
   z-index: 100;
}

ul.wotm-hmenu a, ul.wotm-hmenu a:link, ul.wotm-hmenu a:visited, ul.wotm-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.wotm-hmenu, ul.wotm-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.wotm-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.wotm-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.wotm-hmenu:after, ul.wotm-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.wotm-hmenu, ul.wotm-hmenu ul 
{
   min-height: 0;
}

ul.wotm-hmenu 
{
   display: inline-block;
   vertical-align: bottom;
   padding-left: 0;
   padding-right: 0;
}

.wotm-nav-inner:before 
{
   content:' ';
}

.wotm-nav-inner{
   text-align: center;
   margin:0 auto;
}

.desktop  .wotm-nav-inner{
   width: 1000px;
   padding-left: 0;
   padding-right: 0;
}

.desktop .wotm-nav
{
   padding-left: 0;
   padding-right: 0;
}

.wotm-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: auto;
   background-position: center;
}

.wotm-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: auto;
   background-position: center;
}

.wotm-menuitemcontainer
{
   margin:0 auto;
}
ul.wotm-hmenu>li {
   margin-left: 0;
}
ul.wotm-hmenu>li:first-child {
   margin-left: 0;
}
ul.wotm-hmenu>li:last-child, ul.wotm-hmenu>li.last-child {
   margin-right: 0;
}

ul.wotm-hmenu>li>a
{
   padding:0 17px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 42px;
   cursor: pointer;
   text-decoration: none;
   color: #000000;
   line-height: 42px;
   text-align: center;
}

.wotm-hmenu>li>a, 
.wotm-hmenu>li>a:link, 
.wotm-hmenu>li>a:visited, 
.wotm-hmenu>li>a.active, 
.wotm-hmenu>li>a:hover
{
   font-size: 13px;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   letter-spacing: 1px;
   text-transform: uppercase;
   text-align: left;
}

ul.wotm-hmenu>li>a.active
{
   background: #1AB3FF;
   background: -webkit-linear-gradient(top, #4CC3FF 0, #00AAFF 75%, #0099E5 100%) no-repeat;
   background: -moz-linear-gradient(top, #4CC3FF 0, #00AAFF 75%, #0099E5 100%) no-repeat;
   background: -o-linear-gradient(top, #4CC3FF 0, #00AAFF 75%, #0099E5 100%) no-repeat;
   background: -ms-linear-gradient(top, #4CC3FF 0, #00AAFF 75%, #0099E5 100%) no-repeat;
   -svg-background: linear-gradient(top, #4CC3FF 0, #00AAFF 75%, #0099E5 100%) no-repeat;
   background: linear-gradient(to bottom, #4CC3FF 0, #00AAFF 75%, #0099E5 100%) no-repeat;
   padding:0 17px;
   margin:0 auto;
   color: #000000;
   text-decoration: none;
}

ul.wotm-hmenu>li>a:visited, 
ul.wotm-hmenu>li>a:hover, 
ul.wotm-hmenu>li:hover>a {
   text-decoration: none;
}

ul.wotm-hmenu>li>a:hover, .desktop ul.wotm-hmenu>li:hover>a
{
   background: #697077;
   background: -webkit-linear-gradient(top, rgba(131, 138, 145, 0.4) 0, rgba(120, 128, 135, 0.4) 20%, rgba(81, 87, 92, 0.4) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(131, 138, 145, 0.4) 0, rgba(120, 128, 135, 0.4) 20%, rgba(81, 87, 92, 0.4) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(131, 138, 145, 0.4) 0, rgba(120, 128, 135, 0.4) 20%, rgba(81, 87, 92, 0.4) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(131, 138, 145, 0.4) 0, rgba(120, 128, 135, 0.4) 20%, rgba(81, 87, 92, 0.4) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(131, 138, 145, 0.4) 0, rgba(120, 128, 135, 0.4) 20%, rgba(81, 87, 92, 0.4) 100%) no-repeat;
   background: linear-gradient(to bottom, rgba(131, 138, 145, 0.4) 0, rgba(120, 128, 135, 0.4) 20%, rgba(81, 87, 92, 0.4) 100%) no-repeat;
   padding:0 17px;
   margin:0 auto;
}
ul.wotm-hmenu>li>a:hover, 
.desktop ul.wotm-hmenu>li:hover>a {
   color: #000000;
   text-decoration: none;
}

ul.wotm-hmenu li li a
{
   background: #7B828A;
   border:1px solid #595E64;
   padding:0 17px;
   margin:0 auto;
}
ul.wotm-hmenu li li 
{
   float: none;
   width: auto;
   margin-top: 0;
   margin-bottom: 0;
}

.desktop ul.wotm-hmenu li li ul>li:first-child 
{
   margin-top: 0;
}

ul.wotm-hmenu li li ul>li:last-child 
{
   margin-bottom: 0;
}

.wotm-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 25px;
   min-width: 7em;
   border: 1px solid transparent;
   text-align: left;
   line-height: 25px;
   color: #1A1C1E;
   font-size: 12px;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   letter-spacing: 1px;
   margin:0;
}

.wotm-hmenu li li a 
{
   border-top-width: 0 !important;
}
.wotm-hmenu li li:hover>a 
{
   border-top-width: 1px !important;
}
.wotm-hmenu ul>li:first-child>a 
{
   border-top-width: 1px !important;
}

.wotm-hmenu ul a:link, 
.wotm-hmenu ul a:visited, 
.wotm-hmenu ul a.active, 
.wotm-hmenu ul a:hover
{
   text-align: left;
   line-height: 25px;
   color: #1A1C1E;
   font-size: 12px;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   letter-spacing: 1px;
   margin:0;
}

ul.wotm-hmenu ul li a:hover, .desktop ul.wotm-hmenu ul li:hover>a
{
   background: #595E64;
   border:1px solid #A3A8AE;
   margin:0 auto;
}
.wotm-hmenu ul a:hover
{
   color: #EFF0F1;
}

.wotm-hmenu ul li a.wotm-hmenu-before-hovered 
{
   border-bottom-width: 0 !important;
}

.desktop .wotm-hmenu ul li:hover>a
{
   color: #EFF0F1;
}

ul.wotm-hmenu ul:before
{
   background: #838A91;
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}
.desktop ul.wotm-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
.desktop ul.wotm-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}

ul.wotm-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('images/spacer.gif');
}

.desktop ul.wotm-hmenu>li>ul
{
   padding: 10px 30px 30px 30px;
   margin: -10px 0 0 -30px;
}

.desktop ul.wotm-hmenu ul ul
{
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

.desktop ul.wotm-hmenu ul.wotm-hmenu-left-to-right 
{
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}

.desktop ul.wotm-hmenu ul.wotm-hmenu-right-to-left 
{
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

.desktop ul.wotm-hmenu li li:hover>ul.wotm-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
.desktop ul.wotm-hmenu li li:hover>ul.wotm-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

.desktop ul.wotm-hmenu ul ul.wotm-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

.desktop ul.wotm-hmenu ul ul.wotm-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 30px 10px 30px 30px;
   margin: -30px -10px 0 0;
}

.desktop ul.wotm-hmenu li ul>li:first-child {
   margin-top: 0;
}
.desktop ul.wotm-hmenu li ul>li:last-child {
   margin-bottom: 0;
}

.desktop ul.wotm-hmenu ul ul:before
{
   border-radius: 0;
   top: 30px;
   bottom: 30px;
   right: 30px;
   left: 10px;
}

.desktop ul.wotm-hmenu>li>ul:before
{
   top: 10px;
   right: 30px;
   bottom: 30px;
   left: 30px;
}

.desktop ul.wotm-hmenu>li>ul.wotm-hmenu-left-to-right:before {
   right: 30px;
   left: 30px;
}
.desktop ul.wotm-hmenu>li>ul.wotm-hmenu-right-to-left:before {
   right: 30px;
   left: 30px;
}
.desktop ul.wotm-hmenu ul ul.wotm-hmenu-left-to-right:before {
   right: 30px;
   left: 10px;
}
.desktop ul.wotm-hmenu ul ul.wotm-hmenu-right-to-left:before {
   right: 10px;
   left: 30px;
}

.desktop ul.wotm-hmenu>li.ext>a
{
   white-space: nowrap;
}

.desktop ul.wotm-hmenu>li.ext>a:hover,
.desktop ul.wotm-hmenu>li.ext:hover>a,
.desktop ul.wotm-hmenu>li.ext:hover>a.active  
{
   background: none;
   /* default padding + border size */
  padding: 0 17px 0 17px;
   /* margin for shadow */
  margin: -0 -0 0 -0;
   overflow: hidden;
   position: relative;
   border: none;
   border-radius: 0;
   box-shadow: none;
   color: #FFFFFF;
}

.desktop ul.wotm-hmenu>li.ext>a:hover:before,
.desktop ul.wotm-hmenu>li.ext:hover>a:before,
.desktop ul.wotm-hmenu>li.ext:hover>a.active:before  
{
   position: absolute;
   content: ' ';
   /* top, right, left - for shadow */
  top: 0;
   right: 0;
   left: 0;
   /* border + shadow */
  bottom: -0;
   background-color: #838A91;
   border: 0 solid transparent;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
   z-index: -1;
}

.desktop ul.wotm-hmenu>li.ext:hover>ul 
{
   padding-top: 0;
   /* menu bar padding */
  margin-top: 0;
}

.desktop ul.wotm-hmenu>li.ext:hover>ul:before 
{
   /* border + shadow */
  top: -0;
   clip: rect(0, auto, auto, auto);
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

ul.wotm-hmenu>li.ext>.ext-r,
ul.wotm-hmenu>li.ext>.ext-l,
ul.wotm-hmenu>li.ext>.ext-m,
ul.wotm-hmenu>li.ext>.ext-off
{
   display: none;
   z-index: 12;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.desktop ul.wotm-hmenu>li.ext>ul 
{
   z-index: 13;
}

.desktop ul.wotm-hmenu>li.ext.ext-r:hover>.ext-r,
.desktop ul.wotm-hmenu>li.ext.ext-l:hover>.ext-l
{
   position: absolute;
   display: block;
   overflow: hidden;
   /* size of radius 
   * if size if 0 we should now generate script 
   * that adds ext-r and ext-m divs
   */
  height: 0;
   top: 100%;
   padding-top: 0;
   margin-top: -0;
/* border width + shadow */}

.desktop ul.wotm-hmenu>li.ext:hover>.ext-r:before,
.desktop ul.wotm-hmenu>li.ext:hover>.ext-l:before
{
   position: absolute;
   content: ' ';
   top: 0;
   /* border + shadow */
  bottom: -0;
   background-color: #838A91;
   border: 0 solid transparent;
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop ul.wotm-hmenu>li.ext.ext-r:hover>.ext-r
{
   left: 100%;
   right: auto;
   padding-left: 0;
   margin-left: 0;
   padding-right: 0;
   margin-right: -0;
/* only shadow */}

.desktop ul.wotm-hmenu>li.ext.ext-r:hover>.ext-r:before
{
   right: 0;
   left: -0;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}

.desktop ul.wotm-hmenu>li.ext.ext-l:hover>.ext-l
{
   right: 100%;
   left: auto;
   padding-right: 0;
   margin-right: 0;
   padding-left: 0;
   margin-left: -0;
/* only shadow */}

.desktop ul.wotm-hmenu>li.ext.ext-l:hover>.ext-l:before
{
   right: -0;
   left: 0;
   border-top-right-radius: 0;
   border-top-left-radius: 0;
}

.desktop ul.wotm-hmenu>li.ext:hover>.ext-m, 
.desktop ul.wotm-hmenu>li.ext:hover>.ext-off 
{
   position: absolute;
   display: block;
   overflow: hidden;
   height: 0;
   top: 100%;
}

.desktop ul.wotm-hmenu>li.ext.ext-r:hover>.ext-m 
{
   /* shadow offset */
  left: -0;
   right: 0;
   /* shadow offset */
  padding-right: 0;
   padding-left: 0;
}

.desktop ul.wotm-hmenu>li.ext:hover>.ext-off 
{
   /* shadow offset */
  left: -0;
   right: -0;
   /* shadow offset */
  padding-left: 0;
   padding-right: 0;
}

.desktop ul.wotm-hmenu>li.ext.ext-l:hover>.ext-m
{
   /* shadow offset */
  right: -0;
   left: 0;
   /* shadow offset */
  padding-left: 0;
   padding-right: 0;
}

.desktop ul.wotm-hmenu>li.ext.ext-l.ext-r:hover>.ext-m
{
   /* shadow offset */
  right: -0;
   left: -0;
   /* shadow offset */
  padding-left: 0;
   padding-right: 0;
}

.desktop ul.wotm-hmenu>li.ext:hover>.ext-m:before, 
.desktop ul.wotm-hmenu>li.ext:hover>.ext-off:before 
{
   position: absolute;
   content: ' ';
   top: -0;
   bottom: -0;
   /* shadow offset */
  background-color: #838A91;
   border: 0 solid transparent;
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop ul.wotm-hmenu>li.ext.ext-r:hover>.ext-m:before
{
   right: -0;
   left: 0;
}

.desktop ul.wotm-hmenu>li.ext.ext-l:hover>.ext-m:before
{
   left: -0;
   right: 0;
}

.desktop ul.wotm-hmenu>li.ext.ext-l.ext-r:hover>.ext-m:before
{
   left: -0;
   right: -0
;
}

.wotm-sheet
{
   background: #FCFCFD;
   background: transparent;
   margin:10px auto 0;
   position:relative;
   cursor:auto;
   width: 1000px;
   z-index: auto !important;
}

.wotm-layout-wrapper
{
   position: relative;
   margin: 0 auto 0 auto;
   z-index: auto !important;
}

.wotm-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
}

.wotm-content-layout-row 
{
   display: table-row;
}

.wotm-layout-cell
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   display: table-cell;
   vertical-align: top;
}

/* need only for content layout in post content */ 
.wotm-postcontent .wotm-content-layout
{
   border-collapse: collapse;
}

.wotm-block
{
   margin:10px;
}
div.wotm-block img
{
   border: none;
   margin: 7px;
}

.wotm-blockheader
{
   background: #697077;
   background: rgba(105, 112, 119, 0.2);
   -webkit-border-radius:4px 4px 0 0;
   -moz-border-radius:4px 4px 0 0;
   border-radius:4px 4px 0 0;
   border:1px solid rgba(70, 74, 78, 0.2);
   padding:10px 3px;
   margin:0 auto;
}
.wotm-blockheader .t,
.wotm-blockheader .t a,
.wotm-blockheader .t a:link,
.wotm-blockheader .t a:visited, 
.wotm-blockheader .t a:hover
{
   color: #BEC2C5;
   font-size: 13px;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   letter-spacing: normal;
   text-transform: uppercase;
   margin-left: 10px;
   margin-right: 10px;
}

.wotm-blockcontent
{
   background: #FCFCFD;
   background: rgba(252, 252, 253, 0.2);
   -webkit-border-radius:0 0 4px 4px;
   -moz-border-radius:0 0 4px 4px;
   border-radius:0 0 4px 4px;
   border:1px solid rgba(196, 199, 202, 0.2);
   padding:3px;
   margin:0 auto;
   color: #070808;
   font-size: 13px;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}
.wotm-blockcontent table,
.wotm-blockcontent li, 
.wotm-blockcontent a,
.wotm-blockcontent a:link,
.wotm-blockcontent a:visited,
.wotm-blockcontent a:hover
{
   color: #070808;
   font-size: 13px;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.wotm-blockcontent p
{
   margin: 6px 0;
}

.wotm-blockcontent a, .wotm-blockcontent a:link
{
   color: #B8E7FF;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
}

.wotm-blockcontent a:visited, .wotm-blockcontent a.visited
{
   color: #D9DBDD;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.wotm-blockcontent a:hover, .wotm-blockcontent a.hover
{
   color: #B8E7FF;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}
.wotm-block li
{
   font-size: 13px;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 125%;
   color: #F1F2F3;
   margin-left: 12px;
}

.wotm-breadcrumbs
{
   margin:0 auto;
}

a.wotm-button,
a.wotm-button:link,
a:link.wotm-button:link,
body a.wotm-button:link,
a.wotm-button:visited,
body a.wotm-button:visited,
input.wotm-button,
button.wotm-button
{
   text-decoration: none;
   font-size: 13px;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   letter-spacing: 1px;
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #FCFCFD;
   margin: 0 5px 0 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 24px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.wotm-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .wotm-button
{
   display: block;
   float: left;
}

input, select, textarea, a.wotm-search-button span
{
   vertical-align: middle;
   font-size: 13px;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   letter-spacing: 1px;
}

.wotm-block select 
{
   width:96%;
}

input.wotm-button
{
   float: none !important;
   -webkit-appearance: none;
}

.wotm-button.active, .wotm-button.active:hover
{
   background: #697077;
   background: rgba(105, 112, 119, 0.8);
   -webkit-border-radius:7px;
   -moz-border-radius:7px;
   border-radius:7px;
   border:2px solid rgba(0, 0, 0, 0.8);
   padding:0 15px;
   margin:0 auto;
}
.wotm-button.active, .wotm-button.active:hover {
   color: #E1E3E5 !important;
}

.wotm-button.hover, .wotm-button:hover
{
   background: #7B828A;
   background: rgba(123, 130, 138, 0.8);
   -webkit-border-radius:7px;
   -moz-border-radius:7px;
   border-radius:7px;
   border:2px solid rgba(0, 0, 0, 0.8);
   padding:0 15px;
   margin:0 auto;
}
.wotm-button.hover, .wotm-button:hover {
   color: #000000 !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"], input[type="tel"], input[type="time"], input[type="week"], textarea
{
   background: #F9FAFB;
   border:1px solid rgba(26, 179, 255, 0.2);
   margin:0 auto;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"], input[type="tel"], input[type="time"], input[type="week"], textarea
{
   width: auto;
   padding: 8px 0;
   color: #00527A !important;
   font-size: 14px;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-shadow: none;
}
input.wotm-error, textarea.wotm-error
{
   background: #F9FAFB;
   border:1px solid #E2341D;
   margin:0 auto;
}
input.wotm-error, textarea.wotm-error {
   color: #00527A !important;
   font-size: 14px;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.wotm-search input[type="text"]
{
   background: #F9FAFB;
   border-radius: 0;
   border:1px solid #CCD6E0;
   margin:0 auto;
   width: 100%;
   padding: 0 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color: #00527A !important;
   font-size: 14px;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.wotm-search 
{
   background-image: none;
   border: 0;
   display:block;
   position:relative;
   top:0;
   padding:0;
   margin:5px;
   left:0;
   line-height: 0;
}

form.wotm-search input, a.wotm-search-button
{
   -webkit-appearance: none;
   top:0;
   right:0;
}

form.wotm-search>input, a.wotm-search-button{
   bottom:0;
   left:0;
   vertical-align: middle;
}

form.wotm-search input[type="submit"], input.wotm-search-button, a.wotm-search-button
{
   background: #C4C7CA;
   border-radius: 0;
   margin:0 auto;
}
form.wotm-search input[type="submit"], input.wotm-search-button, a.wotm-search-button {
   position:absolute;
   left:auto;
   display:block;
   border: 0;
   top: 1px;
   bottom: 1px;
   right: 	1px;
   padding:0 6px;
   color: #54595F !important;
   font-size: 14px;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   cursor: pointer;
}

a.wotm-search-button span.wotm-search-button-text, a.wotm-search-button:after {
   vertical-align:middle;
}

a.wotm-search-button:after {
   display:inline-block;
   content:' ';
   height: 100%;
}

a.wotm-search-button, a.wotm-search-button span,
a.wotm-search-button:visited, a.wotm-search-button.visited,
a.wotm-search-button:hover, a.wotm-search-button.hover 
{
   text-decoration: none;
   font-size: 14px;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

a.wotm-search-button 
{
   line-height: 100% !important;
}

label.wotm-checkbox:before
{
   background: #F9FAFB;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
}
label.wotm-checkbox
{
   cursor: pointer;
   font-size: 14px;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   display: inline-block;
   color: #BDE9FF !important;
}

.wotm-checkbox>input[type="checkbox"]
{
   margin: 0 5px 0 0;
}

label.wotm-checkbox.active:before
{
   background: #7B828A;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.wotm-checkbox.hovered:before
{
   background: #989EA4;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.wotm-radiobutton:before
{
   background: #F9FAFB;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   margin:0 auto;
   width:12px;
   height:12px;
}
label.wotm-radiobutton
{
   cursor: pointer;
   font-size: 14px;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 12px;
   display: inline-block;
   color: #BDE9FF !important;
}

.wotm-radiobutton>input[type="radio"]
{
   vertical-align: baseline;
   margin: 0 5px 0 0;
}

label.wotm-radiobutton.active:before
{
   background: #7B828A;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

label.wotm-radiobutton.hovered:before
{
   background: #989EA4;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

.wotm-comments
{
   border-top:1px dotted #697077;
   margin:0 auto;
   margin-top: 25px;
}

.wotm-comments h2
{
   color: #CED1D4;
}

.wotm-comment-inner
{
   background: #E2E8EE;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   -webkit-box-shadow:0 0 7px 4px rgba(0, 0, 0, 0.4);
   -moz-box-shadow:0 0 7px 4px rgba(0, 0, 0, 0.4);
   box-shadow:0 0 7px 4px rgba(0, 0, 0, 0.4);
   border:1px solid #C4C7CA;
   padding:7px;
   margin:0 auto;
   margin-left: 94px;
}
.wotm-comment-avatar 
{
   float:left;
   width:80px;
   height:80px;
   padding:1px;
   background:#fff;
   border:1px solid #E2E8EE;
}

.wotm-comment-avatar>img
{
   margin:0 !important;
   border:none !important;
}

.wotm-comment-content
{
   padding:10px 0;
   color: #323639;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.wotm-comment
{
   margin-top: 6px;
}

#comment-list>li:first-child>.wotm-comment
{
   margin-top: 0;
}

.wotm-comment-header
{
   color: #222426;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 100%;
}

.wotm-comment-header a, 
.wotm-comment-header a:link, 
.wotm-comment-header a:visited,
.wotm-comment-header a.visited,
.wotm-comment-header a:hover,
.wotm-comment-header a.hovered
{
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 100%;
}

.wotm-comment-header a, .wotm-comment-header a:link
{
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #6C737A;
}

.wotm-comment-header a:visited, .wotm-comment-header a.visited
{
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #6C737A;
}

.wotm-comment-header a:hover,  .wotm-comment-header a.hovered
{
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #6C737A;
}

.wotm-comment-content a, 
.wotm-comment-content a:link, 
.wotm-comment-content a:visited,
.wotm-comment-content a.visited,
.wotm-comment-content a:hover,
.wotm-comment-content a.hovered
{
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.wotm-comment-content a, .wotm-comment-content a:link
{
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #0077B2;
}

.wotm-comment-content a:visited, .wotm-comment-content a.visited
{
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #43474C;
}

.wotm-comment-content a:hover,  .wotm-comment-content a.hovered
{
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #0077B2;
}

.wotm-pager
{
   background: #EFF2F5;
   background: -webkit-linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
   background: -moz-linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
   background: -o-linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
   background: -ms-linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
   -svg-background: linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
   background: linear-gradient(to bottom, #FFFFFF 0, #93A8BE 100%) no-repeat;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   -webkit-box-shadow:0 0 7px 4px rgba(0, 0, 0, 0.4);
   -moz-box-shadow:0 0 7px 4px rgba(0, 0, 0, 0.4);
   box-shadow:0 0 7px 4px rgba(0, 0, 0, 0.4);
   border:1px solid #697077;
   padding:5px;
}

.wotm-pager>*:last-child
{
   margin-right:0 !important;
}

.wotm-pager>span {
   cursor:default;
}

.wotm-pager>*
{
   background: #989EA4;
   background: -webkit-linear-gradient(top, #C1C4C8 0, #788087 87%, #6E757C 100%) no-repeat;
   background: -moz-linear-gradient(top, #C1C4C8 0, #788087 87%, #6E757C 100%) no-repeat;
   background: -o-linear-gradient(top, #C1C4C8 0, #788087 87%, #6E757C 100%) no-repeat;
   background: -ms-linear-gradient(top, #C1C4C8 0, #788087 87%, #6E757C 100%) no-repeat;
   -svg-background: linear-gradient(top, #C1C4C8 0, #788087 87%, #6E757C 100%) no-repeat;
   background: linear-gradient(to bottom, #C1C4C8 0, #788087 87%, #6E757C 100%) no-repeat;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   border:1px solid #989EA4;
   padding:7px;
   margin:0 4px 0 auto;
   line-height: normal;
   position:relative;
   display:inline-block;
   margin-left: 0;
}

.wotm-pager a:link,
.wotm-pager a:visited,
.wotm-pager .active
{
   line-height: normal;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #111213
;
}

.wotm-pager .active
{
   background: #B6BFC9;
   background: -webkit-linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
   background: -moz-linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
   background: -o-linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
   background: -ms-linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
   -svg-background: linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
   background: linear-gradient(to bottom, #E5E8EB 0, #8796A6 100%) no-repeat;
   border:1px solid #989EA4;
   padding:7px;
   margin:0 4px 0 auto;
   color: #FFFFFF
;
}

.wotm-pager .more
{
   background: #989EA4;
   background: -webkit-linear-gradient(top, #C1C4C8 0, #788087 87%, #6E757C 100%) no-repeat;
   background: -moz-linear-gradient(top, #C1C4C8 0, #788087 87%, #6E757C 100%) no-repeat;
   background: -o-linear-gradient(top, #C1C4C8 0, #788087 87%, #6E757C 100%) no-repeat;
   background: -ms-linear-gradient(top, #C1C4C8 0, #788087 87%, #6E757C 100%) no-repeat;
   -svg-background: linear-gradient(top, #C1C4C8 0, #788087 87%, #6E757C 100%) no-repeat;
   background: linear-gradient(to bottom, #C1C4C8 0, #788087 87%, #6E757C 100%) no-repeat;
   border:1px solid #989EA4;
   margin:0 4px 0 auto;
}
.wotm-pager a.more:link,
.wotm-pager a.more:visited
{
   color: #001824
;
}
.wotm-pager a:hover
{
   background: #7B828A;
   background: -webkit-linear-gradient(top, #A3A8AE 0, #788087 53%, #565C61 100%) no-repeat;
   background: -moz-linear-gradient(top, #A3A8AE 0, #788087 53%, #565C61 100%) no-repeat;
   background: -o-linear-gradient(top, #A3A8AE 0, #788087 53%, #565C61 100%) no-repeat;
   background: -ms-linear-gradient(top, #A3A8AE 0, #788087 53%, #565C61 100%) no-repeat;
   -svg-background: linear-gradient(top, #A3A8AE 0, #788087 53%, #565C61 100%) no-repeat;
   background: linear-gradient(to bottom, #A3A8AE 0, #788087 53%, #565C61 100%) no-repeat;
   border:1px solid #989EA4;
   padding:7px;
   margin:0 4px 0 auto;
}
.wotm-pager  a:hover,
.wotm-pager  a.more:hover
{
   color: #1A1C1E
;
}
.wotm-pager>*:after
{
   margin:0 0 0 auto;
   display:inline-block;
   position:absolute;
   content: ' ';
   top:0;
   width:0;
   height:100%;
   right: 0;
   text-decoration:none;
}

.wotm-pager>*:last-child:after{
   display:none;
}

.wotm-commentsform
{
   background: #E2E8EE;
   background: transparent;
   padding:10px;
   margin:0 auto;
   margin-top:25px;
   color: #CED1D4;
}

.wotm-commentsform h2{
   padding-bottom:10px;
   margin: 0;
   color: #CED1D4;
}

.wotm-commentsform label {
   display: inline-block;
   line-height: 25px;
}

.wotm-commentsform input:not([type=submit]), .wotm-commentsform textarea {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   width:100%;
   max-width:100%;
}

.wotm-commentsform .form-submit
{
   margin-top: 10px;
}
.wotm-post
{
   background: #E7E8E9;
   background: transparent;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   border:1px solid transparent;
}
a img
{
   border: 0;
}

.wotm-article img, img.wotm-article, .wotm-block img, .wotm-footer-text img
{
   margin: 5px 5px 5px 5px;
}

.wotm-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.wotm-article table, table.wotm-article
{
   border-collapse: collapse;
   margin: 1px;
}

.wotm-post .wotm-content-layout-br
{
   height: 0;
}

.wotm-article th, .wotm-article td
{
   padding: 2px;
   border: solid 1px #838A91;
   vertical-align: top;
   text-align: left;
}

.wotm-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.image-caption-wrapper
{
   padding: 5px 5px 5px 5px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper img
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper div.wotm-collage
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper p
{
   font-size: 80%;
   text-align: right;
   margin: 0;
}

.wotm-postheader
{
   color: #DCDEE0;
   margin-top: 12px;
   margin-bottom: 8px;
   font-size: 22px;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   letter-spacing: 2px;
   text-align: left;
}

.wotm-postheader a, 
.wotm-postheader a:link, 
.wotm-postheader a:visited,
.wotm-postheader a.visited,
.wotm-postheader a:hover,
.wotm-postheader a.hovered
{
   font-size: 22px;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   letter-spacing: 2px;
   text-align: left;
}

.wotm-postheader a, .wotm-postheader a:link
{
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #EBF8FF;
}

.wotm-postheader a:visited, .wotm-postheader a.visited
{
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #E1E3E5;
}

.wotm-postheader a:hover,  .wotm-postheader a.hovered
{
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
   text-align: left;
   color: #C7ECFF;
}

.wotm-postheadericons,
.wotm-postheadericons a,
.wotm-postheadericons a:link,
.wotm-postheadericons a:visited,
.wotm-postheadericons a:hover
{
   font-size: 12px;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 1px;
   color: #F1F2F3;
}

.wotm-postheadericons
{
   padding: 1px;
}

.wotm-postheadericons a, .wotm-postheadericons a:link
{
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #8FDAFF;
}

.wotm-postheadericons a:visited, .wotm-postheadericons a.visited
{
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   letter-spacing: 1px;
   color: #C4C7CA;
}

.wotm-postheadericons a:hover, .wotm-postheadericons a.hover
{
   letter-spacing: 1px;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #ADE4FF;
}

.wotm-postdateicon:before
{
   content:url('images/postdateicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .wotm-postdateicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.wotm-postauthoricon:before
{
   content:url('images/postauthoricon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .wotm-postauthoricon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.wotm-postpdficon:before
{
   content:url('images/postpdficon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .wotm-postpdficon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.wotm-postprinticon:before
{
   content:url('images/postprinticon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .wotm-postprinticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.wotm-postemailicon:before
{
   content:url('images/postemailicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .wotm-postemailicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.wotm-postediticon:before
{
   content:url('images/postediticon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .wotm-postediticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.wotm-postcontent ul>li:before,  .wotm-post ul>li:before,  .wotm-textblock ul>li:before
{
   content:url('images/postbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .wotm-postcontent ul>li:before, .opera   .wotm-post ul>li:before, .opera   .wotm-textblock ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}
.wotm-postcontent ul>li:before,  .wotm-post ul>li:before,  .wotm-textblock ul>li:before
{
   bottom: auto;
}

.wotm-postcontent li, .wotm-post li, .wotm-textblock li
{
   font-size: 13px;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-align: left;
   color: #C4C7CA;
   margin: 0 0 0 24px;
}

.wotm-postcontent ul>li, .wotm-post ul>li, .wotm-textblock ul>li, .wotm-postcontent ol, .wotm-post ol, .wotm-textblock ol
{
   padding: 0;
}

.wotm-postcontent ul>li, .wotm-post ul>li, .wotm-textblock ul>li
{
   padding-left: 22px;
}

.wotm-postcontent ul>li:before,  .wotm-post ul>li:before,  .wotm-textblock ul>li:before
{
   margin-left: -22px;
}

.wotm-postcontent ol, .wotm-post ol, .wotm-textblock ol, .wotm-postcontent ul, .wotm-post ul, .wotm-textblock ul
{
   margin: 1em 0 1em 24px;
}

.wotm-postcontent li ol, .wotm-post li ol, .wotm-textblock li ol, .wotm-postcontent li ul, .wotm-post li ul, .wotm-textblock li ul
{
   margin: 0.5em 0 0.5em 24px;
}

.wotm-postcontent li, .wotm-post li, .wotm-textblock li
{
   margin: 0 0 0 0;
}

.wotm-postcontent ol>li, .wotm-post ol>li, .wotm-textblock ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.wotm-postcontent ul>li, .wotm-post ul>li, .wotm-textblock ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

blockquote
{
   background: #ECEDEE url('images/postquote.png') no-repeat scroll;
   padding:10px 10px 10px 43px;
   margin:10px 10px 10px 50px;
   color: #111213;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}
blockquote a, .wotm-postcontent blockquote a, .wotm-blockcontent blockquote a, .wotm-footer-text blockquote a,
blockquote a:link, .wotm-postcontent blockquote a:link, .wotm-blockcontent blockquote a:link, .wotm-footer-text blockquote a:link,
blockquote a:visited, .wotm-postcontent blockquote a:visited, .wotm-blockcontent blockquote a:visited, .wotm-footer-text blockquote a:visited,
blockquote a:hover, .wotm-postcontent blockquote a:hover, .wotm-blockcontent blockquote a:hover, .wotm-footer-text blockquote a:hover
{
   color: #111213;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
}

/* Override native 'p' margins*/
blockquote p,
.wotm-postcontent blockquote p,
.wotm-blockcontent blockquote p,
.wotm-footer-text blockquote p
{
   margin: 0;
   margin:5px;
}

.wotm-postfootericons,
.wotm-postfootericons a,
.wotm-postfootericons a:link,
.wotm-postfootericons a:visited,
.wotm-postfootericons a:hover
{
   font-size: 12px;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   letter-spacing: 1px;
   color: #F1F2F3;
}

.wotm-postfootericons
{
   padding: 1px;
}

.wotm-postfootericons a, .wotm-postfootericons a:link
{
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   letter-spacing: 1px;
   color: #ADE4FF;
}

.wotm-postfootericons a:visited, .wotm-postfootericons a.visited
{
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   letter-spacing: 1px;
   color: #C4C7CA;
}

.wotm-postfootericons a:hover, .wotm-postfootericons a.hover
{
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
   letter-spacing: 1px;
   color: #ADE4FF;
}

.wotm-postcategoryicon:before
{
   content:url('images/postcategoryicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .wotm-postcategoryicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.wotm-posttagicon:before
{
   content:url('images/posttagicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .wotm-posttagicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.wotm-postcommentsicon:before
{
   content:url('images/postcommentsicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .wotm-postcommentsicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.wotm-footer
{
   background: #242629;
   background: rgba(36, 38, 41, 0.4);
   margin:10px auto 0;
   position: relative;
   color: #A9ADB2;
   font-size: 12px;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 1px;
   text-align: center;
   padding: 0;
}

.wotm-footer-text a,
.wotm-footer-text a:link,
.wotm-footer-text a:visited,
.wotm-footer-text a:hover,
.wotm-footer-text td, 
.wotm-footer-text th,
.wotm-footer-text caption
{
   color: #A9ADB2;
   font-size: 12px;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 1px;
}

.wotm-footer-text p 
{
   padding:0;
   text-align: center;
}

.wotm-footer-text a,
.wotm-footer-text a:link
{
   color: #2EB9FF;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}

.wotm-footer-text a:visited
{
   color: #90969D;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.wotm-footer-text a:hover
{
   color: #5CC9FF;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
}

.wotm-footer-text h1
{
   color: #595E64;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.wotm-footer-text h2
{
   color: #697077;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.wotm-footer-text h3
{
   color: #1AB3FF;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.wotm-footer-text h4
{
   color: #C4C7CA;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.wotm-footer-text h5
{
   color: #C4C7CA;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.wotm-footer-text h6
{
   color: #C4C7CA;
   font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.wotm-footer-text img
{
   border: none;
   margin: 7px;
}

.wotm-footer-inner
{
   margin: 0 auto;
   width:1000px;
   padding:20px;
   padding-right: 20px;
   padding-left: 20px;
}

.wotm-rss-tag-icon
{
   background:  url('images/footerrssicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:50px;
   min-width:50px;
   display: inline-block;
   text-indent: 53px;
   background-position: left center;
   vertical-align: middle;
}

.wotm-rss-tag-icon:empty
{
   vertical-align: middle;
}

.wotm-facebook-tag-icon
{
   background:  url('images/footerfacebookicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:50px;
   min-width:50px;
   display: inline-block;
   text-indent: 53px;
   background-position: left center;
   vertical-align: middle;
}

.wotm-facebook-tag-icon:empty
{
   vertical-align: middle;
}

.wotm-twitter-tag-icon
{
   background:  url('images/footertwittericon.png') no-repeat scroll;
   margin:0 auto;
   min-height:50px;
   min-width:50px;
   display: inline-block;
   text-indent: 53px;
   background-position: left center;
   vertical-align: middle;
}

.wotm-twitter-tag-icon:empty
{
   vertical-align: middle;
}

.wotm-tumblr-tag-icon
{
   background:  url('images/tumblricon.png') no-repeat scroll;
   margin:0 auto;
   min-height:50px;
   min-width:50px;
   display: inline-block;
   text-indent: 53px;
   background-position: left center;
   vertical-align: middle;
}

.wotm-tumblr-tag-icon:empty
{
   vertical-align: middle;
}

.wotm-pinterest-tag-icon
{
   background:  url('images/pinteresticon.png') no-repeat scroll;
   margin:0 auto;
   min-height:50px;
   min-width:50px;
   display: inline-block;
   text-indent: 53px;
   background-position: left center;
   vertical-align: middle;
}

.wotm-pinterest-tag-icon:empty
{
   vertical-align: middle;
}

.wotm-vimeo-tag-icon
{
   background:  url('images/vimeoicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:50px;
   min-width:50px;
   display: inline-block;
   text-indent: 53px;
   background-position: left center;
   vertical-align: middle;
}

.wotm-vimeo-tag-icon:empty
{
   vertical-align: middle;
}

.wotm-youtube-tag-icon
{
   background:  url('images/youtubeicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:50px;
   min-width:50px;
   display: inline-block;
   text-indent: 53px;
   background-position: left center;
   vertical-align: middle;
}

.wotm-youtube-tag-icon:empty
{
   vertical-align: middle;
}

.wotm-linkedin-tag-icon
{
   background:  url('images/linkedinicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:50px;
   min-width:50px;
   display: inline-block;
   text-indent: 53px;
   background-position: left center;
   vertical-align: middle;
}

.wotm-linkedin-tag-icon:empty
{
   vertical-align: middle;
}

.wotm-footer-text li
{
   font-size: 14px;
   font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 125%;
   color: #C7ECFF;
}

.wotm-page-footer, 
.wotm-page-footer a,
.wotm-page-footer a:link,
.wotm-page-footer a:visited,
.wotm-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #D1D4D6;
}

.wotm-page-footer
{
   position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #B9BDC1;
}

.wotm-lightbox-wrapper 
{
   background: #333;
   background: rgba(0, 0, 0, .8);
   bottom: 0;
   left: 0;
   padding: 0 100px;
   position: fixed;
   right: 0;
   text-align: center;
   top: 0;
   z-index: 1000000;
}

.wotm-lightbox,
.wotm-lightbox-wrapper .wotm-lightbox-image
{
   cursor: pointer;
}

.wotm-lightbox-wrapper .wotm-lightbox-image
{
   border: 6px solid #fff;
   border-radius: 3px;
   display: none;
   max-width: 100%;
   vertical-align: middle;
}

.wotm-lightbox-wrapper .wotm-lightbox-image.active
{
   display: inline-block;
}

.wotm-lightbox-wrapper .lightbox-error
{
   background: #fff;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   height: 80px;
   opacity: .95;
   padding: 20px;
   position: fixed;
   width: 300px;
   z-index: 100;
}

.wotm-lightbox-wrapper .loading
{
   background: #fff url('images/preloader-01.gif') center center no-repeat;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   height: 32px;
   opacity: .5;
   padding: 10px;
   position: fixed;
   width: 32px;
   z-index: 10100;
}

.wotm-lightbox-wrapper .arrow
{
   cursor: pointer;
   height: 100px;
   opacity: .5;
   filter: alpha(opacity=50);
   position: fixed;
   width: 82px;
   z-index: 10003;
}

.wotm-lightbox-wrapper .arrow.left
{
   left: 9px;
}

.wotm-lightbox-wrapper .arrow.right
{
   right: 9px;
}

.wotm-lightbox-wrapper .arrow:hover
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.wotm-lightbox-wrapper .arrow.disabled 
{
   display: none;
}

.wotm-lightbox-wrapper .arrow-t, 
.wotm-lightbox-wrapper .arrow-b
{
   background-color: #fff;
   border-radius: 3px;
   height: 6px;
   left: 26px;
   position: relative;
   width: 30px;
}

.wotm-lightbox-wrapper .arrow-t
{
   top: 38px;
}

.wotm-lightbox-wrapper .arrow-b
{
   top: 50px;
}

.wotm-lightbox-wrapper .close
{
   cursor: pointer;
   height: 22px;
   opacity: .5;
   filter: alpha(opacity=50);
   position: fixed;
   right: 39px;
   top: 30px;
   width: 22px;
   z-index: 10003;
}

.wotm-lightbox-wrapper .close:hover 
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.wotm-lightbox-wrapper .close .cw, 
.wotm-lightbox-wrapper .close .ccw
{
   background-color: #fff;
   border-radius: 3px;
   height: 6px;
   position: absolute;
   left: -4px;
   top: 8px;
   width: 30px;
}

.wotm-lightbox-wrapper .cw
{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   /* IE 9 */
    -webkit-transform: rotate(45deg);
   /* Safari and Chrome */
    -o-transform: rotate(45deg);
   /* Opera */
    -moz-transform: rotate(45deg);
/* Firefox */}

.wotm-lightbox-wrapper .ccw
{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   /* IE 9 */
    -webkit-transform: rotate(-45deg);
   /* Safari and Chrome */
    -o-transform: rotate(-45deg);
   /* Opera */
    -moz-transform: rotate(-45deg);
/* Firefox */}

.wotm-lightbox-wrapper .close-alt, 
.wotm-lightbox-wrapper .arrow-right-alt, 
.wotm-lightbox-wrapper .arrow-left-alt 
{
   color: #fff;
   display: none;
   font-size: 2.5em;
   line-height: 100%;
}

.ie8 .wotm-lightbox-wrapper .close-alt, 
.ie8 .wotm-lightbox-wrapper .arrow-right-alt, 
.ie8 .wotm-lightbox-wrapper .arrow-left-alt 
{
   display: block;
}

.ie8 .wotm-lightbox-wrapper .cw, 
.ie8 .wotm-lightbox-wrapper .ccw 
{
   display: none;
}

.wotm-content-layout .wotm-content
{
   margin:0 auto;
}



#comment
{
    width:99%;
}

#comments-list, #comments-list .comment 
{
  background: none;
  padding:0;
  margin:0;
  overflow: visible;
}

#comments-list .comment:before, #comments-list .comment:after
{
  display:none;
}

#comments-list .comment .comment 
{
  margin-left: 20px;
}

span.page-navi-outer, span.page-navi-inner 
{
    position:relative;
    display:block;
    float:left;
    margin:0;
    padding:0;
}

span.page-navi-outer
{
  margin: 1px;
  border: 1px solid #aaa;
}

span.page-navi-inner 
{
  padding: 1px;
  min-width:14px;
  line-height:18px;
  text-align:center;
  border: 2px solid #fff;
  font-weight:bold;
}

a span.page-navi-inner, span.page-navi-caption span.page-navi-inner 
{
    border-width:1px;
    font-weight:normal;
}

a span.page-navi-outer, span.page-navi-caption
{
    margin:2px 1px;
}

ul#comments-list li cite
{
  font-size: 1.2em;
}

#commentform textarea
{
  width: 100%;
}

#commentform
{
  text-align:left;
}

.rtl #commentform
{
  text-align:right;
}

img.wp-smiley
{
  border: none;
  margin: 1px;
  vertical-align:middle;
  padding: 0;
}

.navigation
{
  display: block;
  text-align: center;
}

/* Recommended by http://codex.wordpress.org/CSS */
/* Begin */
.aligncenter, div.aligncenter, .wotm-article .aligncenter img, .aligncenter img.wotm-article, .aligncenter img, img.aligncenter
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.aligncenter , p.center 
{
   text-align: center; 
}

.alignleft
{
  float: left;
}

.alignright
{
  float: right;
}

.wp-caption
{
  border: 1px solid #ddd;
  background-color: #f3f3f3;
  padding-top: 4px;
  margin: 10px;
}

.wp-caption img
{
  margin: 0;
  padding: 0;
  border: 0 none;
}

.wp-caption p.wp-caption-text
{
  font-size: 11px;
  line-height: 17px;
  padding: 0 4px 5px;
  margin: 0;
}

.wp-caption, .wp-caption p
{
    text-align: center;
}

.gallery {
	margin: 0 auto 18px;
    clear:both;
    overflow:hidden;
}

.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}

.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}

.gallery dl {
	margin: 0;
}

.gallery img {
	border: 10px solid #f1f1f1;
}

.gallery br+br {
	display: none;
}
/* End */


.hidden
{
  display: none;
}

/* Calendar */
#wp-calendar {
  empty-cells: show;
  margin: 10px auto 0;
  width: 155px;
}

#wp-calendar #next a {
  padding-right: 10px;
  text-align: right;
}

#wp-calendar #prev a {
  padding-left: 10px;
  text-align: left;
}

#wp-calendar a {
  display: block;
}

#wp-calendar caption {
  text-align: center;
  width: 100%;
}

#wp-calendar td {
  padding: 3px 0;
  text-align: center;
}

.gallery {
  letter-spacing: normal;
}

.wotm-content {
  position: relative;
  z-index: 1;   
}

#todays-events{
  position: relative;
  z-index: 11;    
}

#upcoming-events{
  position: relative;
  z-index: 10;    
}

img.wp-post-image 
{
    margin:0 5px 5px 0 !important;
}

ul#comments-list li
{
    list-style-image: none;
    background:none;
    list-style-type:none;
    
}

div.wotm-footer div.wotm-content-layout
{
    margin:0 auto;
    width:100%;
}

div.wotm-layout-cell-size1 
{
    width:100%;
}

div.wotm-layout-cell-size2 
{
    width:50%;
}
div.wotm-layout-cell-size3 
{
    width:33%;
}

div.wotm-layout-cell-size4
{
    width:25%;
}

.wotm-widget-title
{
    padding:0 0 0 24px;
    margin-bottom:0;
}

div.wotm-center-wrapper
{
  position: relative;
  float: right;
  right: 50%;

}

div.wotm-center-inner
{
  position: relative;
  float: left;
  left: 50%;
}

.firefox2 div.wotm-center-inner
{
  float: none;
}

.wotm-hmenu-extra1, .wotm-hmenu-extra2 {
 font-size:12px;
}

div.breadcrumbs h4, 
div.breadcrumbs p, 
li.pingback p, 
#respond p,
h3#reply-title, 
h4#comments, 
h4.box-title
{
    margin:0;
}

#respond .comment-notes {
	margin-bottom: 1em;
}

.form-allowed-tags {
	line-height: 1em;
}

#comments-list #respond {
	/*margin-left: NaNpx !important; TODO NodeJS*/
}

#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}

#respond .required {
	color: #ff4b33;
	font-weight: bold;
}

#respond label {
	font-size: 12px;
}

#respond input {
	margin: 0 0 9px;
	width: 98%;
}

#respond textarea {
	width: 98%;
}

#respond .form-allowed-tags {
	font-size: 12px;
	line-height: 18px;
}

#respond .form-allowed-tags code {
	font-size: 11px;
}

#respond .form-submit {
	margin: 12px 0;
}

#respond .form-submit input {
	width: auto;
}

.wotm-footer .wotm-widget-title 
{
    font-size:1.2em;
    padding: 0;
}

.wotm-footer .wotm-widget,
.wotm-footer .wotm-widget a,
.wotm-footer .wotm-widget a:link,
.wotm-footer .wotm-widget a:visited,
.wotm-footer .wotm-widget a:hover
{
    text-align: left;
}

DIV[id^="GMPmap"] IMG 
{
    margin: 0px;
}

/* Begin Additional CSS Styles */
.wotm-blockheader .t, .wotm-vmenublockheader .t {white-space: nowrap;}


.responsive .wotm-header .wotm-headline a,
.responsive .wotm-header .wotm-slogan {
background-color: rgba(233, 234, 236, .9);
border-radius: 5px;
}

.responsive .wotm-header .wotm-shapes .wotm-slogan {
display: inline-block !important;
padding: 2px;
margin-top: 0 !important
}
/* End Additional CSS Styles */

