/* Created by Wrench of the Monkey */

.wotm-header, #wotm-header-bg, .wotm-layout-cell, .wotm-layout-wrapper, .wotm-footer, .wotm-nav, #wotm-hmenu-bg, .wotm-sheet,
.clearfix {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.wotm-textblock > div {
   display: block;
   line-height: normal;
   zoom: 1;
}

.wotm-header
{
   z-index: 1;
   background-image: [headerimage];
   background-position: [headerposition];
}

#wotm-header-bg 
{
   display: none;
}

.wotm-hmenu>li, .wotm-hmenu>li>a
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}
ul.wotm-hmenu, ul.wotm-hmenu ul {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}
#wotm-hmenu-bg 
{
   display: none;
}

ul.wotm-hmenu>li:first-child {
   padding-right:0;
}

ul.wotm-hmenu ul, .desktop-nav ul.wotm-hmenu>li.ext:hover>a{
   background-color: #838A91 !important;
}

.wotm-content-layout, .wotm-content-layout-row, .wotm-layout-cell 
{
   display: block;
   zoom: 1;
}
.wotm-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}

input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"]
{
   margin :0;
}

form.wotm-search>input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.wotm-search div>input[type="text"]
{
   width: 100%;
}

* html form.wotm-search>input[type="text"] 
{
   margin :0;
}

form.wotm-search
{
   zoom: 1;
}
.wotm-postheadericons span{
   zoom: 1;
}
.wotm-postcontent {
   height: 1%;
}

.wotm-postfootericons span{
   zoom: 1;
}
.close-alt, .arrow-right-alt, .arrow-left-alt {
   display: block !important;
}
.cw, .ccw {
   display: none !important;
}

.wotm-content 
{
   width: auto;
   float:none;
}

